@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #8c8c8b;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}